<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">Products</h1>

  <div class="mb-4">
    <%= link_to "New Product", new_product_path, class: "bg-blue-500 font-bold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition" %>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full border-collapse border border-gray-200 shadow-md rounded-lg">
      <thead>
        <tr class="bg-gray-100">
          <th class="py-2 px-4 border">Name</th>
          <th class="py-2 px-4 border">Price</th>
          <th class="py-2 px-4 border">Quantity</th>
          <th class="py-2 px-4 border">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr class="hover:bg-gray-50">
            <td class="py-2 px-4 border text-center"><%= product.name %></td>
            <td class="py-2 px-4 border text-center"><%= number_to_currency(product.price)%></td>
            <td class="py-2 px-4 border text-center"><%= product.quantity %></td>
            <td class="py-2 px-4 border text-center space-x-2">
              <%= link_to "Show", product_path(product), class: "bg-blue-500 py-1 px-3 rounded hover:bg-blue-700 transition" %>
              <%= link_to "Edit", edit_product_path(product), class: "bg-yellow-500 py-1 px-3 rounded hover:bg-yellow-700 transition"%>
            <%= link_to "Delete", product_path(product), method: :delete, data: { turbo_method: :delete, confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
